{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.14.8"
    },
    "import/resolver": "node"
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}
